@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    body * {
        visibility: hidden;
    }
    #billing-invoice-printable,
    #billing-invoice-printable * {
        visibility: visible;
    }
    #billing-invoice-printable {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
